*.iml
.idea
.idea/workspace.xml - remove # and delete .idea if it better suit your needs.
.gradle
build/
.navigation
captures/
output.json
/api/.gitignore
/api/src/main/AndroidManifest.xml
/api/build.gradle
/api/src/androidTest/java/com/miti/api/ExampleInstrumentedTest.kt
/api/src/test/java/com/miti/api/ExampleUnitTest.kt
/local.properties
/app/release1.000.00/output-metadata.json
/api/proguard-rules.pro
