<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shveed.wallpapperparser">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.shveed.cookmegood.CategoryActivity"></activity>
        <activity
            android:name="com.shveed.cookmegood.AuthorizeActivity"
            android:label="@string/title_authorize_activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.shveed.cookmegood.Favourites"
            android:label="@string/title_activity_favourites"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.shveed.cookmegood.RecipePage"
            android:label="@string/title_activity_recipe_page"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.shveed.cookmegood.MainActivity"
            android:label="@string/app_name"></activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>